.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 10px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.80);
  font-size: 12px;
  padding: 1em;
  display: none;
  border: 1px solid #000;
  z-index: 1000000;
}

.back-to-top:hover {    
  background-color: rgba(135, 135, 135, 0.50);
}

/* Set a "content block" on the screen just to make the page long */
/*----------------------------------------------------------------*/
.content {
  background-color: #ccc;
  color: #fff;
  padding-top: 250px;
  padding-bottom: 250px;
  padding-left: 250px;
  margin: 10px;
}